@page "/solar-system"
@using BlazorThree.Engine
@rendermode InteractiveServer

<PageTitle>BlazorThree Demo</PageTitle>

<div class="d-flex w-100 h-100">

    <Scene Width="100%" Height="100%" ClearColor="#101925" BackgroundTextureUrl="/textures/solar-system/2k_stars_milky_way.jpg" BackgroundTextureSizing="cover">

        @{
            var selectedPlanetInfo = solarSystem.FirstOrDefault(p => p.Name == selectedPlanet) ?? solarSystem.First();

            var cameraPosition = new Vector3(MathF.Sqrt(selectedPlanetInfo.DistanceFromSunKm / 500), 0, z: 
                MathF.Sqrt(selectedPlanetInfo.RadiusKm / 10));
            var cameraLookAt = new Vector3(MathF.Sqrt(selectedPlanetInfo.DistanceFromSunKm / 500), 0, 0);
        }

        <Camera Fov="50" Position="@(cameraPosition)" LookAt="@(cameraLookAt)">
            <Transition DurationMs="1000" Easing="@Easings.EaseInOutQuad" 
                        Properties="[nameof(Camera.Position), nameof(Camera.LookAt)]" />
        </Camera>

        <Light Type="LightDefinitions.Ambient" Color="#ffffff" Intensity="1" />
        @* <OrbitControls Enabled="true" EnableDamping="true" DampingFactor="0.09" /> *@

        @foreach (var (index, planet) in solarSystem.Index())
        {
            // place the planets in a line for now, just to show them all.
            // we need to consider the different sizes of the planets to show them next to each other.
            var position = new Vector3(index * 100, 0, 0);

            <Group Position="@(new(MathF.Sqrt(planet.DistanceFromSunKm / 500), 0, 0))"
                   Rotation="new(0, 0, DegToRad(planet.TiltDegrees))">

                @if (planet.Name == "Sun")
                {
                    <Light Type="LightDefinitions.Point" Color="#ffd280" Intensity="1200000" />
                }

                <Mesh>
                    <SphereGeometry Radius="@(MathF.Sqrt(planet.RadiusKm / 100))" WidthSegments="48" HeightSegments="48" />
                    @if (planet.Name == "Sun")
                    {
                        <MeshPhongMaterial TextureUrl="@Assets[planet.TextureUri]" Color="#ffffff" Emissive="#ffb347" Specular="#221100" Shininess="8" />
                    }
                    else
                    {
                        <MeshStandardMaterial TextureUrl="@Assets[planet.TextureUri]" Color="#ffffff" />
                    }
                    <Animation DurationMs="@((int)(planet.DayDurationHours * 2500 / 24))" Loop="true" Active="true" Easing="@Easings.Linear">
                        <Keyframe Offset="0" Property="@nameof(Mesh.Rotation)" Value="@(new Vector3(0, 0, 0))" />
                        <Keyframe Offset="100" Property="@nameof(Mesh.Rotation)" Value="@(new Vector3(0, 2 * MathF.PI, 0))" />
                    </Animation>
                </Mesh>
            </Group>
        }

    </Scene>

    <div class="flex-grow-0 flex-shrink-0 h-100" style="width: 380px">

        @foreach (var planet in solarSystem)
        {
            <div class="d-flex flex-column p-2 border-bottom" style="cursor: pointer" @onclick="@(() => selectedPlanet = planet.Name)">
                <div class="d-flex align-items-center">
                    <img src="@Assets[planet.TextureUri]" alt="@planet.Name" width="48" height="48" class="me-2 rounded-circle" />
                    <div>
                        <div class="fw-bold">@planet.Name</div>
                        <div class="text-muted">@planet.RadiusKm km radius</div>
                    </div>
                </div>
                @if (selectedPlanet == planet.Name)
                {
                    <div class="mt-2">
                        <div>Day Duration: @planet.DayDurationHours hours</div>
                        <div>Tilt: @planet.TiltDegrees°</div>
                        <div>Distance from Sun: @planet.DistanceFromSunKm km</div>
                    </div>
                }
            </div>
        }
    </div>

    
</div>

@code {

    public record PlanetInfo(string Name, string TextureUri, float RadiusKm, float DayDurationHours, float TiltDegrees, float DistanceFromSunKm);

    private static float DegToRad(float deg) => deg * MathF.PI / 180f;

    private string selectedPlanet = "";

    private IReadOnlySet<PlanetInfo> solarSystem = new HashSet<PlanetInfo>()
    {
        new PlanetInfo("Sun", "/textures/solar-system/2k_sun.jpg", 696_340, DayDurationHours: 609.12f, TiltDegrees: 7.25f, DistanceFromSunKm: 0),
        new PlanetInfo("Mercury", "/textures/solar-system/2k_mercury.jpg", 2_439, DayDurationHours: 1407.6f, TiltDegrees: 0.034f, DistanceFromSunKm: 57_910_000),
        new PlanetInfo("Venus", "/textures/solar-system/2k_venus_surface.jpg", 6_052, DayDurationHours: 5832.5f, TiltDegrees: 177.4f, DistanceFromSunKm: 108_200_000),
        new PlanetInfo("Earth", "/textures/solar-system/2k_earth_daymap.jpg", 6_371, DayDurationHours: 24, TiltDegrees: 23.44f, DistanceFromSunKm: 149_600_000),
        new PlanetInfo("Mars", "/textures/solar-system/2k_mars.jpg", 3_390, DayDurationHours: 24.6f, TiltDegrees: 25.19f, DistanceFromSunKm: 227_900_000),
        new PlanetInfo("Jupiter", "/textures/solar-system/2k_jupiter.jpg", 69_911, DayDurationHours: 9.9f, TiltDegrees: 3.13f, DistanceFromSunKm: 778_500_000),
        new PlanetInfo("Saturn", "/textures/solar-system/2k_saturn.jpg", 58_232, DayDurationHours: 10.7f, TiltDegrees: 26.73f, DistanceFromSunKm: 1_434_000_000),
        new PlanetInfo("Uranus", "/textures/solar-system/2k_uranus.jpg", 25_362, DayDurationHours: 17.2f, TiltDegrees: 97.77f, DistanceFromSunKm: 2_871_000_000),
        new PlanetInfo("Neptune", "/textures/solar-system/2k_neptune.jpg", 24_622, DayDurationHours: 16.1f, TiltDegrees: 28.32f, DistanceFromSunKm: 4_495_000_000),
    };

}
